{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Lie</h1>
        <p>
             A lie can be halfway around the world before the truth gets its boots on. 
        </p>
    </article>
{% endblock %}
