{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Water shapes its course according to the nature of the ground over which it flows. Let your methods be regulated by the infinite variety of circumstances.
    </p>
{% endblock %}